<?xml version='1.0' encoding='utf-8'?>
<widget id="com.orinx.NtouHotWater" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Hot Shower</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="orinx@orinx.com" href="http://blog.orinx.com>
        NTOU IND
    </author>
    <access origin="http://127.0.0.1*"/>
	<access origin="http://android.furry.pw*" />
	<access origin="http://140.121.80.8*" />
    <gap:platform name="ios" />
    <gap:platform name="android" />
    <gap:platform name="webos" />
    <gap:platform name="symbian" />
    <gap:platform name="blackberry" />
    <gap:platform name="winphone" /
</widget>
